<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>BIENVENIDO AL SISTEMA COORDINADOR 360</title>

    <!-- Core CSS - Include with every page -->
    <link href="bootstrap-3.4.1/css/bootstrap.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Page-Level Plugin CSS - Tables -->
    <link href="css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">
    <!-- SB Admin CSS - Include with every page -->
    <link href="css/sb-admin.css" rel="stylesheet">

</head>

<body>

    <div id="wrapper" style="background-color: #FF4C01;">
        <!-- /navbar-header -->
        <nav class="navbar navbar-default navbar-fixed-top nav-custom" role="navigation"
            style="background-color: #FF4C01;margin-bottom: 0;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <!-- /.navbar-header -->
            <!-- /dropdown bars -->
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <span style="color: #fff">CFABIAN</span>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bars fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-home fa-fw"></i> Inicio</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Salir</a>
                        </li>
                    </ul>

                </li>
            </ul>
            <!-- /.dropdown-bars -->
            <!-- /Menu -->
            <div class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a href="cargaExcel.html"><i class="fa fa-upload fa-fw"></i> Carga de Archivos</a>
                        </li>
                        <li>
                            <a href="asignar.html"><i class="fa fa-check-circle-o fa-fw"></i>
                                <!--<span class="fa arrow"></span>--> Asignacion</a>
                            <!-- /.nav-second-level -->
                            <!--<ul class="nav nav-second-level">
                                <li>
                                    <a href="flot.html">Flot Charts</a>
                                </li>
                                <li>
                                    <a href="morris.html">Morris.js Charts</a>
                                </li>
                            </ul>-->
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="consultaTramite.html"><i class="fa fa-search fa-fw"></i> Consulta de Trámites</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-edit fa-fw"></i> Parámetros</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-book fa-fw"></i> Reportes</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-envelope fa-fw"></i> Gestión de Cartas
                                <!--<span class="fa arrow"></span>--></a>
                            <!--
                              /nav-second-level comentario
                            
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Second Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Second Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Third Level <span class="fa arrow"></span></a>
                                     /nav-third-level comentario
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                    </ul>
                                    /.nav-third-level comentario
                                </li>
                                 
                            </ul>
                           
                            /.nav-second-level comentario -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-exclamation-triangle fa-fw"></i> Autorización de Traslado</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-cog fa-fw"></i> Mantenimiento de Etapas</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bar-chart-o fa-fw" aria-hidden="true"></i> Indicadores</a>
                        </li>
                    </ul>
                    <!-- /#side-menu -->
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.Menu -->
        </nav>

        <div id="page-wrapper">
            <div class="space">&nbsp;</div>
            <div class="space">&nbsp;</div>
            <div class="row">
                <div class="col-lg-10">
                    <i class="fa fa-upload"></i>&nbsp;<STRONG>PROCESO DE CARGA DE ARCHIVOS</STRONG>&nbsp;
                </div>

                <!-- /.col-lg-12 -->
            </div>
            <div class="space">&nbsp;</div>
            <div class="row">
                <div class="col-lg-10">
                    <label>Registre sus archivos correctamente en el sistema Coordinador 360, tomando en cuenta lo
                        siguiente:</label>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10">
                    <ol>
                        <li>Seleccione el Tipo de Archivo a Procesar, según el tipo de archivo EXCEL.</li>
                        <li>Seleccione los archivos a procesar dentro de su PC a través del botón "Examinar"..</li>
                        <li>Finalmente presione el botón "Cargar".</li>
                    </ol>
                </div>
            </div>
            <div class="space">&nbsp;</div>
            <div class="row">
                <div class="col-lg-3">
                    <label for="tipoArchivo">Tipo de Archivo</label>&nbsp;
                </div>
                <div class="col-lg-7">
                    <!--
                                <html:select property="tipoArchivo" styleClass="form-control" styleId="tipoArchivo">   
                                    <html:option value="S">[SELECCIONAR]</html:option>
                                    <html:options collection="listTipoArchivo" property="tipoArchivo" labelProperty="descripcion"/>
                                </html:select>
                                -->
                    <select class="form-control" id="tipoArchivo" >
                        <option value="S">SELECCIONAR</option>
                        <option value="A">Objeto 1</option>
                        <option value="B">Objeto 2</option>
                    </select>
                </div>
            </div>
            <div class="space">&nbsp;</div>
            <div class="row">
                <div class="col-lg-3">
                    <label for="archivo">Archivo:</label>&nbsp;
                </div>
                <div class="col-lg-7">
                    <!--<html:file property="archivo" styleId="archivo" styleClass="form-control" size="70" />-->
                    <input type="file" class="form-control" id="archivo" accept=".csv ,.xlsm,.xls" >
                    <div class="space">&nbsp;</div>
                </div>
            </div>
            <div class="space">&nbsp;</div>
            <div class="row">
                <div class="col-lg-7">
                    &nbsp;
                </div>
                <div class="col-lg-3">
                    <input type="button" value="Cargar" alt="Cargar" id="btn-cargar" class="btn btn-custom"
                        onclick="ValidarArchivo()">

                </div>
            </div>
            <div class="space">&nbsp;</div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">

                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>Nombre de Archivo</th>
                                            <th># Registros Cargados</th>
                                            <th># Registros Errados</th>
                                            <th>Estado</th>
                                            <th>Fecha Inicio</th>
                                            <th>Fecha Fin</th>
                                            <th>Log</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="odd gradeX">
                                            <td style="text-align: center;">Trident</td>
                                            <td style="text-align: center;">Internet Explorer 4.0</td>
                                            <td style="text-align: center;">Win 95+</td>
                                            <td style="text-align: center;">4</td>
                                            <td style="text-align: center;">X</td>
                                            <td style="text-align: center;">X</td>
                                            <td style="text-align: center;">X</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>

        </div>
        <!-- /#page-wrapper -->
        <!-- /.modal -->
        <div class="modal fade" id="AlertModal" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Confirmación de Carga</h4>
                    </div>
                    <div class="modal-body">
                        <p>Esta seguro de realizar la carga?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-custom" onclick="CargaArchivo()">Guardar</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    </div>
    <!-- /#wrapper -->

    <!-- Core Scripts - Include with every page -->
    <script src="js/jquery-3.4.1.js"></script>
    <script src="bootstrap-3.4.1/js/bootstrap.js"></script>
    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>

    <!-- Page-Level Plugin Scripts - Tables -->
    <script src="js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="js/plugins/dataTables/dataTables.bootstrap.js"></script>

    <!-- SB Admin Scripts - Include with every page -->
    <script src="js/sb-admin.js"></script>
    <script>
        $(document).ready(function () {
            $('#dataTables-example').dataTable();
            //----------------------------------------------------------------
            // Crear elemento Alerta de Error 
            var myEl = document.createElement("div");
            // Agregando clases al elemento
            myEl.classList.add("alert");
            myEl.classList.add("alert-danger");
            // Agregando atributos al elemento
            myEl.setAttribute("role", "alert")
            // Agregando id
            myEl.setAttribute("id", "msgError")
            // Agregando Contenido del elemento
            myEl.textContent = "Tipo de Archivo Incorrecto";
            //----------------------------------------------------------------
            $("#tipoArchivo").change(function (e) {

                var select = e.target;
                var selectParent = select.parentNode;
                // console.log(select.value);
                //console.log("----------");
                //console.log(selectParent);

                if (select.value !== "S") {

                    if (selectParent.classList.contains('has-error')) {
                        selectParent.classList.remove('has-error');
                    }
                    selectParent.classList.add('has-success');

                } else {
                    if (selectParent.classList.contains('has-success')) {

                        selectParent.classList.remove('has-success');

                        selectParent.classList.add('has-error');

                    }
                }


            });

            $("#archivo").change(function (e) {

                var input = e.target;
                var file = input.files[0];
                var reImageName = /^.*\.(csv|xls|xlsm)$/i;
                if (file) {
                    var isExcel = reImageName.test(file.name);


                    if (!isExcel) {
                        input.parentNode.classList.add('has-error');

                        input.parentNode.appendChild(myEl);
                    } else {
                        if (input.parentNode.classList.contains('has-error')) {
                            input.parentNode.classList.remove('has-error');
                        }

                        input.parentNode.classList.add('has-success');

                        if (document.contains(myEl)) {
                            input.parentNode.removeChild(myEl);
                        }

                    }
                } else {
                    input.parentNode.classList.add('has-error');

                    input.parentNode.appendChild(myEl);
                }
            });


        });

        function CargaArchivo() {
            var form = $('#frmcargaExcel').val();
            form.action = "CargaExcel.do?method=cargaExcel";;
            form.method = "post";
            form.submit();
        }

        function ValidarArchivo() {

            var tipoArchivo = $('#tipoArchivo').val();
            var archivo = $('#archivo').val();

            if (tipoArchivo === "S") {

                $('#tipoArchivo').focus();
                return;
            }
            if (archivo === "") {
                $('#archivo').focus();
                return;
            }
            if (!archivo || !tipoArchivo) {

                return;
            }

            if ($('#msgError').length) {
                return;
            }

            $('#AlertModal').modal({
                backdrop: 'static',
                keyboard: false
            });



        }

        function GenerarLog(idArchivo) {

            var form = document.frmcargaExcel;
            form.action = "CargaExcel.do?method=generarCsvError&idArchivo=" + idArchivo;
            form.method = "post";
            form.submit();
        }
    </script>

</body>

</html>