<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>BIENVENIDO AL SISTEMA COORDINADOR 360</title>

    <!-- Core CSS - Include with every page -->
    <link href="bootstrap-3.4.1/css/bootstrap.css" rel="stylesheet" />
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet" />

    <!-- Page-Level Plugin CSS - Tables -->
    <link
      href="css/plugins/dataTables/dataTables.bootstrap.css"
      rel="stylesheet"
    />

    <!-- SB Admin CSS - Include with every page -->
    <link href="css/sb-admin.css" rel="stylesheet" />

    <!-- Page-Level Plugin CSS - Tables -->
    <link
      href="css/plugins/dataTables/dataTables.bootstrap.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="bootstrap-datepicker/css/bootstrap-datetimepicker.css"
    />
    <!-- Customize CSS - Consulta Tramite-->
  </head>

  <body>
    <div id="wrapper" style="background-color: #FF4C01;">
      <!-- /navbar-header -->
      <nav
        class="navbar navbar-default navbar-fixed-top nav-custom"
        role="navigation"
      >
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle"
            data-toggle="collapse"
            data-target=".sidebar-collapse"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <!-- /.navbar-header -->
        <!-- /dropdown bars -->
        <ul class="nav navbar-top-links navbar-right">
          <li class="dropdown">
            <span style="color: #fff">CFABIAN</span>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-bars fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
              <li>
                <a href="#"><i class="fa fa-home fa-fw"></i> Inicio</a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="login.html"
                  ><i class="fa fa-sign-out fa-fw"></i> Salir</a
                >
              </li>
            </ul>
          </li>
        </ul>
        <!-- /.dropdown-bars -->
        <!-- /Menu -->
        <div class="navbar-default navbar-static-side" role="navigation">
          <div class="sidebar-collapse">
            <ul class="nav" id="side-menu">
              <li>
                <a href="cargaExcel.html"
                  ><i class="fa fa-upload fa-fw"></i> Carga de Archivos</a
                >
              </li>
              <li>
                <a href="asignar.html"
                  ><i class="fa fa-check-circle-o fa-fw"></i>
                  <!--<span class="fa arrow"></span>-->
                  Asignacion</a
                >
                <!-- /.nav-second-level -->
                <!--<ul class="nav nav-second-level">
                                <li>
                                    <a href="flot.html">Flot Charts</a>
                                </li>
                                <li>
                                    <a href="morris.html">Morris.js Charts</a>
                                </li>
                            </ul>-->
                <!-- /.nav-second-level -->
              </li>
              <li>
                <a href="consultaTramite.html"
                  ><i class="fa fa-search fa-fw"></i> Consulta de Trámites</a
                >
              </li>
              <li>
                <a href="#"><i class="fa fa-edit fa-fw"></i> Parámetros</a>
              </li>
              <li>
                <a href="#"><i class="fa fa-book fa-fw"></i> Reportes</a>
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-envelope fa-fw"></i> Gestión de Cartas
                  <!--<span class="fa arrow"></span>--></a
                >
                <!--
                              /nav-second-level comentario
                            
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="#">Second Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Second Level Item</a>
                                </li>
                                <li>
                                    <a href="#">Third Level <span class="fa arrow"></span></a>
                                     /nav-third-level comentario
                                    <ul class="nav nav-third-level">
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                        <li>
                                            <a href="#">Third Level Item</a>
                                        </li>
                                    </ul>
                                    /.nav-third-level comentario
                                </li>
                                 
                            </ul>
                           
                            /.nav-second-level comentario -->
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-exclamation-triangle fa-fw"></i> Autorización
                  de Traslado</a
                >
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-cog fa-fw"></i> Mantenimiento de Etapas</a
                >
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-bar-chart-o fa-fw" aria-hidden="true"></i>
                  Indicadores</a
                >
              </li>
            </ul>
            <!-- /#side-menu -->
          </div>
          <!-- /.sidebar-collapse -->
        </div>
        <!-- /.Menu -->
      </nav>

      <div id="page-wrapper">
        <div class="space">&nbsp;</div>
        <div class="space">&nbsp;</div>
        <div class="row">
          <div class="col-lg-10">
            <i class="fa fa-search fa-fw"></i>&nbsp;<STRONG
              >CONSULTA DE TRÁMITES</STRONG
            >&nbsp;
          </div>

          <!-- /.col-lg-12 -->
        </div>
        <div class="row">
          <div class="col-lg-3 form-inline">
            <label for="tipoDocumento">Tipo de Documento</label>&nbsp;
          </div>
          <div class="col-lg-3 form-inline">
            <!--<html:select property="tipoDocumento" styleClass="form-control">
                                <html:option value="0">SELECCIONE</html:option>   
                                <html:options collection="list" property="codigoTipoDocumento" labelProperty="descripcionTipoDocumento"/>
                            </html:select>-->
            <select class="form-control">
              <option>SELECCIONAR</option>
            </select>
          </div>
          <div class="col-lg-1 form-inline">
            <label for="numeroDocumento">Numero</label>&nbsp;
          </div>
          <div class="col-lg-3 form-inline">
            <input
              class="form-control"
              type="text"
              value=""
              id="numeroDocumento"
            />
            <!--<html:text property="numeroDocumento" styleClass="form-control" size="20" maxlength="20"></html:text>-->
          </div>
        </div>
        <!-- Date Time Picker Fecha Seccion -->
        <div class="row">
          <div class="col-lg-3 form-inline">
            <label for="fechaSeccionIni">Fecha Seccion Desde</label>&nbsp;
          </div>
          <div class="col-lg-3 form-inline">
            <!--<html:text property="fechaSeccionIni" styleClass="form-control" styleId="fechaSeccionIni" size="12" />&nbsp;
                        <img id="imagen_calendario4" src="<c:out value="${pageContext.request.contextPath}"/>/images/calendario.gif" alt="Calendario"/>-->
            <div class="input-group date" id="fechaSeccionIni">
              <input type="text" class="form-control" id="fechaSeccionIni" />
              <span class="input-group-addon">
                <span class="fa fa-calendar"></span>
              </span>
            </div>
          </div>
          <div class="col-lg-1 form-inline">
            <label for="fechaSeccionFin">Hasta</label>&nbsp;
          </div>
          <div class="col-lg-3 form-inline">
            <!--<html:text property="fechaSeccionFin" styleClass="form-control" styleId="fechaSeccionFin" size="12" />&nbsp;
                        <img id="imagen_calendario4" src="<c:out value="${pageContext.request.contextPath}"/>/images/calendario.gif" alt="Calendario"/>-->
            <div class="input-group date" id="fechaSeccionFin">
              <input type="text" class="form-control" id="fechaSeccionFin" />
              <span class="input-group-addon">
                <span class="fa fa-calendar"></span>
              </span>
            </div>
          </div>
        </div>
        <!-- /.Date Time Picker Fecha Seccion -->
        <!-- Date Time Picker Fecha Asignación-->
        <div class="row">
          <div class="col-lg-3 form-inline">
            <label for="fechaAsignacionIni"
              >Fecha Asignacion Inicial Desde</label
            >&nbsp;
          </div>
          <div class="col-lg-3 form-inline">
            <!--<html:text property="fechaAsignacionIni" styleClass="form-control" styleId="fechaAsignacionIni" size="12" />&nbsp;
                        <img id="imagen_calendario4" src="<c:out value="${pageContext.request.contextPath}"/>/images/calendario.gif" alt="Calendario"/>
                        -->
            <div class="input-group date" id="fechaAsignacionIni">
              <input type="text" class="form-control" />
              <span class="input-group-addon">
                <span class="fa fa-calendar"></span>
              </span>
            </div>
          </div>
          <div class="col-lg-1 form-inline">
            <label for="fechaAsignacionFin">Hasta</label>&nbsp;
          </div>
          <div class="col-lg-3 form-inline">
            <!--<html:text property="fechaAsignacionFin" styleClass="form-control" styleId="fechaAsignacionFin" size="12" />&nbsp;
                        <img id="imagen_calendario4" src="<c:out value="${pageContext.request.contextPath}"/>/images/calendario.gif" alt="Calendario"/>-->
            <div class="input-group date" id="fechaAsignacionFin">
              <input type="text" class="form-control" />
              <span class="input-group-addon">
                <span class="fa fa-calendar"></span>
              </span>
            </div>
          </div>
        </div>
        <!-- /.Date Time Picker Fecha Asignación-->
        <!-- Date Time Picker Fecha Vencimiento-->
        <div class="row">
          <div class="col-lg-3 form-inline">
            <label for="fechaVencimientoIni">Fecha Vencimiento Desde</label
            >&nbsp;
          </div>
          <div class="col-lg-3 form-inline">
            <!--<html:text property="fechaVencimientoIni" styleClass="form-control" styleId="fechaVencimientoIni" size="12" />&nbsp;
                        <img id="imagen_calendario4" src="<c:out value="${pageContext.request.contextPath}"/>/images/calendario.gif" alt="Calendario"/>-->
            <div class="input-group date" id="fechaVencimientoIni">
              <input type="text" class="form-control" />
              <span class="input-group-addon">
                <span class="fa fa-calendar"></span>
              </span>
            </div>
          </div>
          <div class="col-lg-1 form-inline">
            <label for="fechaVencimientoFin">Hasta</label>&nbsp;
          </div>
          <div class="col-lg-3 form-inline">
            <!--
                        <html:text property="fechaVencimientoFin" styleClass="form-control" styleId="fechaVencimientoFin" size="12" />&nbsp;
                        <img id="imagen_calendario4" src="<c:out value="${pageContext.request.contextPath}"/>/images/calendario.gif" alt="Calendario"/>
                        -->
            <div class="input-group date" id="fechaVencimientoFin">
              <input type="text" class="form-control" />
              <span class="input-group-addon">
                <span class="fa fa-calendar"></span>
              </span>
            </div>
          </div>
        </div>
        <!-- /.Date Time Picker Fecha Vencimiento-->
        <div class="row">
          <div class="col-lg-3 form-inline">
            <label for="analista">Analista</label>&nbsp;
          </div>
          <div class="col-lg-3 form-inline">
            <input class="form-control" type="text" value="" id="analista" />
            <!--<html:text property="analista" styleClass="form-control" size="20" maxlength="20"></html:text>-->
          </div>
          <div class="col-lg-1 form-inline">
            <label for="estadoSolicitud">Estado</label>&nbsp;
          </div>
          <div class="col-lg-3 form-inline">
            <!--<html:select property="estadoSolicitud" styleClass="form-control">
                            <html:option value="0">SELECCIONE</html:option>   
                            <html:options collection="listEstado" property="codigoTipoEstado" labelProperty="descripcionTipoEstado"/>
                        </html:select>-->
            <select class="form-control">
              <option>SELECCIONAR</option>
            </select>
          </div>
        </div>
        <div class="space">&nbsp;</div>
        <div class="row">
          <div class="col-lg-7">
            &nbsp;
          </div>
          <div class="col-lg-1">
            <input
              type="button"
              value="Exportar"
              alt="Exportar"
              id="btn-export"
              class="btn btn-custom"
            />
          </div>
          <div class="col-lg-1">
            <input
              type="button"
              value="Guardar"
              alt="Guardar"
              id="btn-save"
              class="btn btn-custom"
            />
          </div>
          <div class="col-lg-1">
            <input
              type="button"
              value="Buscar"
              alt="Buscar"
              id="btn-find"
              class="btn btn-custom"
            />
          </div>
        </div>
        <div class="space">&nbsp;</div>
        <!-- Detalle -->
        <div class="row">
          <div class="col-lg-12">
            <!-- /.panel-heading -->
            <div class="panel-body">
              <div class="table-responsive">
                <table
                  class="table table-striped table-bordered table-hover"
                  id="dataTables-example"
                >
                  <thead>
                    <tr>
                      <th style="text-align: center;">Cuspp</th>
                      <th style="text-align: center;">Nombre</th>
                      <th style="text-align: center;">Tramite</th>
                      <th style="text-align: center;">Etapa</th>
                      <th style="text-align: center;">Fecha Vencimiento</th>
                      <th style="text-align: center;">Estado</th>
                      <th style="text-align: center;">Detalle</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="odd gradeX">
                      <td style="text-align: center;">Trident</td>
                      <td style="text-align: center;">Internet Explorer 4.0</td>
                      <td style="text-align: center;">Win 95+</td>
                      <td style="text-align: center;">4</td>
                      <td style="text-align: center;">X</td>
                      <td style="text-align: center;">X</td>
                      <td style="text-align: center;">
                        <a href="javascript:showModalWindow()">
                          <i
                            class="fa fa-file-text fa-fw"
                            style="color:#000;"
                          ></i
                        ></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
          </div>
          <!-- /.col-lg-12 -->
        </div>
        <!-- /Modal -->
        <div
          class="modal fade"
          id="modal-detalle"
          tabindex="-1"
          role="dialog"
          style="font-size: 9px; "
        >
          <div class="modal-dialog" role="document" style="width: 1270px;">
            <div class="modal-content" style="height: 620px;">
              <div class="modal-header">
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <!--Modal Body-->
              <div class="modal-body">
                <!--Contenedor-->
                <div class="container" style="width: 1235px;">
                  <!--Titles Steppers-->
                  <div class="stepwizard">
                    <div class="stepwizard-row setup-panel">
                      <div class="stepwizard-step col-xs-2">
                        <a
                          href="#step-1"
                          type="button"
                          class="btn btn-warning btn-circle"
                          >1</a
                        >
                        <p><small>Consulta Detalle</small></p>
                      </div>
                      <div class="stepwizard-step col-xs-2">
                        <a
                          href="#step-2"
                          type="button"
                          class="btn btn-default btn-circle "
                          >2</a
                        >
                        <p><small>Seyci</small></p>
                      </div>
                      <div class="stepwizard-step col-xs-2">
                        <a
                          href="#step-3"
                          type="button"
                          class="btn btn-default btn-circle "
                          >3</a
                        >
                        <p><small>Traslado</small></p>
                      </div>
                      <div class="stepwizard-step col-xs-2">
                        <a
                          href="#step-4"
                          type="button"
                          class="btn btn-default btn-circle "
                          >4</a
                        >
                        <p><small>Reevaluacion</small></p>
                      </div>
                      <div class="stepwizard-step col-xs-2">
                        <a
                          href="#step-5"
                          type="button"
                          class="btn btn-default btn-circle "
                          >5</a
                        >
                        <p><small>Dictamen</small></p>
                      </div>
                      <div class="stepwizard-step col-xs-2">
                        <a
                          href="#step-6"
                          type="button"
                          class="btn btn-default btn-circle "
                          >6</a
                        >
                        <p><small>Apelacion</small></p>
                      </div>
                    </div>
                  </div>
                  <!--/.Titles Steppers-->
                  <!--DATOS GENERALES-->

                  <!--/.DATOS GENERALES-->

                  <!--SEYCI-->
                  <!--/.SEYCI-->

                  <!--TRASLADO-->
                  <!--/.TRASLADO-->
                  <!--REEVALUACION-->
                  <form role="form" id="step-1" class="setup-content">
                    <div class="panel panel-primary">
                      <div class="panel-heading">
                        <h3 class="panel-title">Reevaluacion</h3>
                      </div>
                      <div
                        class="panel-body"
                        style="width: auto;height: 390px;overflow-y: auto;"
                      >
                        <div class="container">
                          <div class="row">
                            <div class="col-lg-12">
                              <STRONG>REEVALUACION</STRONG>
                            </div>
                          </div>
                          <div class="space">&nbsp;</div>
                          <!-- row -->
                          <div class="row">
                            <div class="col-lg-offset-1 col-lg-1">
                              <label style="padding-top: 5px;"
                                >Fec. Ingreso Beneficios</label
                              >
                            </div>
                            <div class="col-lg-3">
                              <div class="input-group date fechaModal">
                                <input
                                  type="text"
                                  required="required"
                                  class="form-control input-sm "
                                />
                                <span class="input-group-addon">
                                  <span class="fa fa-calendar"></span>
                                </span>
                              </div>
                            </div>
                            <div class="col-lg-offset-1 col-lg-1">
                              <label style="padding-top: 5px;"
                                >Tipo Documento</label
                              >
                            </div>
                            <div class="col-lg-3">
                              <select
                                type="text"
                                required="required"
                                class="form-control input-sm"
                              >
                                <option value="">[SELECCIONAR]</option>
                                <option value="1">dni</option>
                              </select>
                            </div>
                          </div>
                          <!-- row -->
                          <div class="space">&nbsp;</div>
                          <!-- row 2 -->
                          <div class="row">
                            <div class="col-lg-offset-1 col-lg-1">
                              <label style="padding-top: 3px;"
                                >Fecha de Evaluacion Doc</label
                              >
                            </div>
                            <div class="col-lg-3">
                              <div class="input-group date fechaModal">
                                <input
                                  type="text"
                                  required="required"
                                  class="form-control input-sm "
                                />
                                <span class="input-group-addon">
                                  <span class="fa fa-calendar"></span>
                                </span>
                              </div>
                            </div>
                            <div class="col-lg-offset-1 col-lg-1">
                              <label style="padding-top: 9px;">Analista</label>
                            </div>
                            <div class="col-lg-3">
                              <input
                                type="text"
                                required="required"
                                class="form-control input-sm"
                              />
                            </div>
                          </div>
                          <!-- /.row2 -->
                          <div class="space">&nbsp;</div>
                          <!-- row3 -->
                          <div class="row">
                            <div class="col-lg-offset-1 col-lg-1">
                              <label style="padding-top: 9px;"
                                >Fecha de Notificacion</label
                              >
                            </div>
                            <div class="col-lg-3">
                              <div class="input-group date fechaModal">
                                <!--<html:text--><input
                                  type="text"
                                  required="required"
                                  class="form-control input-sm "
                                />
                                <span class="input-group-addon">
                                  <span class="fa fa-calendar"></span>
                                </span>
                              </div>
                            </div>
                          </div>
                          <!-- /.row3 -->
                          <div class="space">&nbsp;</div>
                          <div class="space">&nbsp;</div>
                          <div class="space">&nbsp;</div>
                          <div class="space">&nbsp;</div>
                          <!-- row4 -->
                          <div class="row">
                            <div class="col-lg-12">
                              <label>Observaciones Reevaluacion</label>
                            </div>
                          </div>
                          <!-- /.row4 -->
                          <!-- row5 -->
                          <div class="row">
                            <div class="col-lg-12">
                              <!--<html:texttarea--><textarea
                                cols="80"
                                rows="4"
                                class="form-control input-sm"
                                property="observacionesReevaluacion"
                                style="min-height: 50px; max-height: 80px; resize: vertical;"
                              >
                              </textarea>
                            </div>
                          </div>
                          <!-- /.row5 -->
                        </div>
                      </div>
                    </div>
                    <button
                      class="btn btn-custom nextBtn pull-right"
                      type="submit"
                    >
                      Siguiente
                    </button>
                  </form>

                <!--/.REEVALUACION-->
                </div>
                <!--/.Contenedor-->
              </div>
              <!--/.Modal Body-->
            </div>
          </div>
        </div>
        <!-- /.Modal -->
      </div>
      <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

    <!-- Core Scripts - Include with every page -->
    <script src="js/jquery-3.4.1.js"></script>
    <script src="bootstrap-3.4.1/js/bootstrap.js"></script>
    <script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <!-- Moment JS-->
    <script src="js/moment.js"></script>
    <!-- Page-Level Plugin Scripts - Tables -->
    <script src="js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="js/plugins/dataTables/dataTables.bootstrap.js"></script>

    <!-- SB Admin Scripts - Include with every page -->
    <script src="js/sb-admin.js"></script>

    <!-- Customize JS - Consulta Tramite-->
    <script src="bootstrap-datepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="js/reevaluacion.js"></script>
    <script src="js/consultaSolicitud.1.js"></script>
  </body>
</html>
