/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18/02/2019, 02:38:04 PM
    Author     : Elgar Eduardo Puma Cruz
*/

 .Texto1 {
                font-family: Verdana, Arial, Helvetica, sans-serif;
                font-size: 10px;
                color: #000000;
            }
            
.Principal {
                BORDER-RIGHT: #005588 1px solid; 
                BORDER-TOP: #005588 1px solid; 
                BORDER-LEFT: #005588 1px solid; 
                BORDER-BOTTOM: #005588 1px solid; 
                BACKGROUND-COLOR: #ffffff;
                font-family:Verdana, Arial, Helvetica, sans-serif;
                font-size:10px;
                color:#000000;
            }

.msg_error {
            margin: auto;
            display: table;
            margin-top: 30px;
            padding: 8px 30px;
            color: #534500;
}

.button2{	
	color: #000000;
	background-color: #999999; /*fff8b3;*/
	padding: 9px;
	border: 1px solid #5F5207;
	cursor: pointer;
	padding-bottom: 0px;
	padding-top: 0px;
	font-size:9px;
	font-family:Verdana;
}

.Header {
        font-weight: bolder;
  	color: white; 
  	background-color: #FF4C01;
  	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
}

.TextoDatosGenerales {
                font-family: Verdana, Arial, Helvetica, sans-serif;
                font-size: 10px;
                color: #000000;
                background-color: #FF4C01;
            }
            
.TextoCajaVerde {
                font-family: Verdana, Arial, Helvetica, sans-serif;
                font-size: 10px;
                color: #000000;
                background-color: #7FB800;
            }

            .t-12{
                font-size: 12px;
            }